UPS_HOST=127.0.0.1
UPS_PORT=3493
UPS_USER="monuser"
UPS_PASSWORD="secret"

POLLING_INTERVAL=5
BATTERY_DIFFERENCE=20

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

SMTP_SERVER="smtp.example.com"
SMTP_PORT=465
SMTP_EMAIL=
SMTP_PROTOCOL=ssl
EMAIL_PASSWORD=
RECEIVER_EMAIL=
